@import 'tailwindcss';
@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/slate-dark.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/red-dark.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-pretendard), sans-serif;
  --font-mono: 'Roboto Mono Variable', monospace;
  --color-white: #fff;
  --color-black: #000;
  --color-slate-1: var(--slate-1);
  --color-slate-2: var(--slate-2);
  --color-slate-3: var(--slate-3);
  --color-slate-4: var(--slate-4);
  --color-slate-5: var(--slate-5);
  --color-slate-6: var(--slate-6);
  --color-slate-7: var(--slate-7);
  --color-slate-8: var(--slate-8);
  --color-slate-9: var(--slate-9);
  --color-slate-10: var(--slate-10);
  --color-slate-11: var(--slate-11);
  --color-slate-12: var(--slate-12);
  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-blue-3: var(--blue-3);
  --color-blue-4: var(--blue-4);
  --color-blue-5: var(--blue-5);
  --color-blue-6: var(--blue-6);
  --color-blue-7: var(--blue-7);
  --color-blue-8: var(--blue-8);
  --color-blue-9: var(--blue-9);
  --color-blue-10: var(--blue-10);
  --color-blue-11: var(--blue-11);
  --color-blue-12: var(--blue-12);
  --color-green-1: var(--green-1);
  --color-green-2: var(--green-2);
  --color-green-3: var(--green-3);
  --color-green-4: var(--green-4);
  --color-green-5: var(--green-5);
  --color-green-6: var(--green-6);
  --color-green-7: var(--green-7);
  --color-green-8: var(--green-8);
  --color-green-9: var(--green-9);
  --color-green-10: var(--green-10);
  --color-green-11: var(--green-11);
  --color-green-12: var(--green-12);
}

@layer base {
  body {
    @apply dark:bg-slate-1 bg-slate-1 text-slate-12;
  }
}
