---
import Button from '@/components/Button.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Stickerify" description="Add sticker contour to your images">
  <div
    class="bg-slate-1 mx-auto mt-8 max-w-xl rounded-xl p-8 text-center shadow"
  >
    <h1
      class="text-slate-12 mb-6 text-3xl font-bold tracking-wider text-balance"
    >
      Stickerify: Turn Your Images into Stickers
    </h1>
    <form class="flex flex-col items-center gap-6">
      <label
        for="image-upload"
        class="bg-slate-3 hover:bg-slate-4 text-slate-12 cursor-pointer rounded-lg px-6 py-3 font-medium transition"
      >
        Upload Image
        <input type="file" id="image-upload" accept="image/*" class="hidden" />
      </label>
      <div
        class="border-slate-6 bg-slate-2 flex h-52 w-52 items-center justify-center overflow-hidden rounded-xl border-2 border-dashed"
      >
        <span class="text-slate-9 text-base">No image selected</span>
      </div>
    </form>
  </div>
  <div class="grid max-w-xl grid-cols-3 place-content-center gap-4">
    <Button variant="primary" size="sm"> Generate Sticker </Button>
    <Button variant="primary" size="md"> Generate Sticker </Button>
    <Button variant="primary" size="lg"> Generate Sticker </Button>
    <Button variant="outline" size="sm">Add Sticker Contour</Button>
    <Button variant="outline" size="md">Add Sticker Contour</Button>
    <Button variant="outline" size="lg">Add Sticker Contour</Button>
    <Button variant="secondary" size="sm">Add Sticker Contour</Button>
    <Button variant="secondary" size="md">Add Sticker Contour</Button>
    <Button variant="secondary" size="lg">Add Sticker Contour</Button>
    <Button variant="success" size="sm">Add Sticker Contour</Button>
    <Button variant="success" size="md">Add Sticker Contour</Button>
    <Button variant="success" size="lg">Add Sticker Contour</Button>
  </div>
</Layout>
