<footer>
  <div class="flex w-full justify-center gap-5 p-4">
    <div class="flex w-full justify-between">
      <div>
        <p class="text-sm">
          Made by
          <a href="https://github.com/ldavidson8" target="_blank">
            ldavidson8
          </a>
        </p>
      </div>
      <div>
        <a
          href="https://buymeacoffee.com/ldavidson8"
          target="_blank"
          rel="noopener"
          class="text-sm"
        >
          Buy Me a Coffee
        </a>
      </div>
    </div>
  </div>
</footer>
