---
import Select from '@/components/theme-select'
---

<header>
  <div class="flex w-full justify-between p-4">
    <div>
      <a class="text-xl" href="/"> Stickerify</a>
    </div>
    <div>
      <Select client:only="react" />
    </div>
  </div>
</header>
