---
import '@/styles/app.css'

import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Head from '@/components/Head.astro'
---

<!doctype html>
<html lang="en">
  <Head title="Stickerify" description="Turn your images into stickers" />
  <body>
    <div class="isolate grid min-h-dvh grid-rows-[auto_1fr_auto]">
      <Header />
      <slot />
      <Footer />
    </div>
    <script is:inline type="module" src="/src/utils/themeObserver.ts"></script>
  </body>
</html>
